<script>
  import Editor from "./Editor.svelte";
  $: prices = [];
</script>

<style>
  .right-align {
    text-align: right;
  }
  .c {
    display: flex;
    flex-direction: row;
    font-family: Ubuntu, Segoe UI, Optima, Trebuchet MS, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;

    height: 100vh;
  }
  .col {
    display: flex;
    flex-direction: column;
  }
  .preview {
    width: 32px;
    height: 32px;
  }
</style>

<div class="c">
  <Editor on:prices={p => (prices = p)} />
  <!--div class="col">
    <div>Price</div>
    <table>
      {#each prices as { preview, materialPreview, material, price, model, count }}
        <tr>
          <td>
            <img src={preview} class="preview" alt={model} />
          </td>
          <td>
            <img src={materialPreview} class="preview" alt={material} />
          </td>
          <td>{model}</td>
          <td class="right-align">{price}</td>
          <td>x</td>
          <td class="right-align">{count}</td>
        </tr>
      {/each}
    </table>
    <div>Total: {prices.reduce((sum, e) => sum + e.price * e.count, 0)}</div>
  </div-->
</div>
