<script>
  import { fade } from "svelte/transition";
  import { onDestroy, onMount, tick } from "svelte";
  import Slider from "./Slider.svelte";
  import Progress from "./Progress.svelte";
  import { AppScene } from "AppScene";
  import { tap } from "@sveltejs/gestures";

  let content = [];
  let visible = false;
  let percent = -1;
  let slider = null;
  let canvas = null;
  let clientWidth = 0;
  let clientHeight = 0;
  let scene = null;

  onMount(() => {
    scene = new AppScene(
      v => (visible = v),
      p => (percent = p),
      d => slider.goto(d),
      restoreOne,
      canvas,
      clientWidth,
      clientHeight
    );
    fetch("/data.json")
      .then(r => r.json())
      .then(c => {
        content = c;
        return tick();
      })
      .then(restoreOne);
  });

  function restoreOne() {
    const e = Object.assign(content[0].data[0], { path: [0] });
    scene.setModel(e);
    slider.goto(e);
  }

  $: scene && !visible && scene.blur();
  $: scene && scene.resize(clientWidth, clientHeight);

  onDestroy(() => scene && scene.dispose());
</script>

<style>
  .c {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
  }
  .preloader {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 25%;
    right: 25%;
  }
  .preloader-bg {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    user-select: none;
  }
  .noactive {
    pointer-events: none;
  }
  .cwrap {
    width: 100%;
    height: 100%;
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
</style>

<div
  class="c"
  class:noactive={percent >= 0}
  on:keyup={e => {
    if (percent < 0) {
      if (e.keyCode === 27) {
        visible = false;
      } else if (e.keyCode === 46) {
        scene.removeCurrent();
      }
    }
  }}>
  <div class="cwrap" bind:clientWidth bind:clientHeight>
    <canvas bind:this={canvas} use:tap on:tap={scene.onTap} />
  </div>
  <Slider
    {content}
    bind:visible
    bind:this={slider}
    on:select={({ detail }) => scene && (detail.path[0] === 0 ? scene.setModel(detail) : scene.setTexture(detail))} />
  {#if percent >= 0}
    <div class="preloader-bg" transition:fade={{ duration: 200 }}>
      <div class="preloader">
        <div>{percent | 0} %</div>
        <Progress {percent} />
      </div>
    </div>
  {/if}
</div>
