<script>
  export let percent = 0;
  export let shift = 0;
</script>

<style>
  .progress {
    background-color: #dbd9dd;
    border-radius: 2px;
    height: 4px;
    margin: 4px 4px 0 4px;
    position: relative;
    overflow: hidden;
  }
  .inner {
    background-color: black;
    border-radius: 2px;
    transition: 0.2s;
    width: 100%;
    height: 100%;
  }
</style>

<div class="progress">
  <div class="inner" style="width:{percent}%;transform:translate({shift}px, 0);" />
</div>
