<script>
  import { createEventDispatcher, tick } from "svelte";
  import { tap } from "@sveltejs/gestures";
  import { Hammer, swipe } from "svelte-hammer";
  import Progress from "Progress.svelte";

  const dispatch = createEventDispatcher();
  const BASE_SIZE = 100;
  const BASE_PADDING = 4;

  export let content = [];
  export let visible = false;
  let path = [];

  function getProp(o, p) {
    const item = o[p[0]];
    return item && p.length > 1 ? getProp(item.data, p.slice(1)) : item;
  }

  let clientWidth = BASE_SIZE + BASE_PADDING * 2;
  $: current = getProp(content, path);
  $: slidesPerPage = Math.min(
    current ? current.data.length : Number.POSITIVE_INFINITY,
    ((clientWidth - BASE_PADDING) / BASE_SIZE) | 0
  );
  $: slideWidth = Math.min(BASE_SIZE * 1.2 + BASE_PADDING, (clientWidth - BASE_PADDING) / slidesPerPage);
  $: innerWidth = current ? Math.max(clientWidth, BASE_PADDING + slideWidth * current.data.length) : 0;
  $: slide = path && 0; //reset slide on change path

  function onWheel(e) {
    move(e.deltaY > 0 ? 1 : -1);
    return false;
  }

  function move(dir) {
    slide = innerWidth <= clientWidth ? 0 : Math.max(Math.min(slide + dir, current.data.length - slidesPerPage), 0);
  }

  export function goto(elem) {
    path = elem.path;
    tick().then(() => {
      slide = Math.max(0, current.data.findIndex(e => e == elem));
      visible = true;
    });
  }
</script>

<style>
  .c {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translate(0, 100px);
    transition: 0.3s;
    visibility: hidden;
    padding-bottom: 4px;
  }
  .show {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }
  .wrap {
    width: 100%;
    overflow: hidden;
  }
  .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    transform: translate(0, 0);
    transition: transform 0.3s;
  }
  .image {
    user-select: none;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid #858585;
    cursor: pointer;
  }
  .image img {
    box-sizing: border-box;
    position: absolute;
    object-fit: cover;
    border: 1px solid white;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s;
  }
  .title {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    line-height: 2em;
    height: 2em;
    color: #858585;
  }
  nav {
    padding: 4px 2px;
    user-select: none;
    display: flex;
  }
  .n {
    display: inline-block;
    box-sizing: border-box;
    background-color: black;
    border: 0;
    outline: 0;
    color: #dbd9dd;
    border-radius: 3px;
    margin: 0 2px;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
  }
  .spacer {
    flex-grow: 1;
  }
  .close {
    width: 26px;
  }
</style>

<div class="c" class:show={visible}>
  <nav>
    {#if current}
      {#each path as e, i}
        <button class="n" use:tap on:tap={() => i < path.length - 1 && (path = path.slice(0, i + 1))}>
          {getProp(content, path.slice(0, i + 1)).name}
        </button>
      {/each}
      <span class="spacer" />
      <button class="n close" use:tap on:tap={() => (visible = false)}>✖</button>
    {/if}
  </nav>

  <div
    class="wrap"
    bind:clientWidth
    on:wheel={onWheel}
    use:swipe={{ direction: Hammer.DIRECTION_HORIZONTAL }}
    on:swipeleft={ev => move(slidesPerPage)}
    on:swiperight={ev => move(-slidesPerPage)}
    style="height:{BASE_SIZE}px">
    {#if current}
      <div class="slider" style="width:{innerWidth}px; transform:translate({-slideWidth * slide}px, 0);">
        {#each current.data as e, i (e.preview)}
          <span
            class="image"
            use:tap
            on:tap={() => (e.data ? (path = path.concat(i)) : dispatch('select', Object.assign(e, { path })))}
            style="width:{(slideWidth - BASE_PADDING) | 0}px">
            <img
              draggable="false"
              loading="lazy"
              src={e.preview}
              alt={e.name}
              on:load={ev => (ev.target.style.opacity = 1)} />
            <span class="title">{e.name}</span>
          </span>
        {/each}
      </div>
    {/if}
  </div>
  {#if innerWidth > clientWidth}
    <Progress
      percent={(clientWidth / innerWidth) * 100}
      shift={(slideWidth | 0) * slide * (clientWidth / innerWidth)} />
  {/if}
</div>
